---
---

@import "{{ site.theme }}";

navigation {
    background-color: #000;
    color: #fff;
    padding: 10px;
    margin-bottom: 20px;
    float: right;
    a {
        display: block;
        color: #fff;
        text-decoration: none;
        margin-right: 10px;
    }
    a:hover {
        text-decoration: underline;
    }
}