---
---

@import "{{ site.theme }}";


body {
    font-family: Verdana, sans-serif;
    font-size: 16px;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

.outer {
    margin: 0 auto;
    /* width: 80%; */
    /* background-color: #fff; */
    /* padding: 0em;
    box-shadow: 0 0 10px 0 #000; */
    align-items: center;
    align-content: center;
    margin: auto;
}

.inner {
    width: 50%;
    justify-content: center;
    background-color: #f9f9f9;
    padding: 1em;
    /* box-shadow: 0 0 10px 0 #000; */
    margin: auto;
}

header {
    background-color: #333;
    padding: 1em 0;
    align-content: center;
    align-items: center;
    text-align: center;
    margin: auto;
    h1 {
        margin: 0;
        padding: 0;    
        background-color: #333;
        color: #f9f9f9;
    }
}

footer {
    background-color: #333;
    padding: 1em 0;
    align-content: center;
    align-items: center;
    text-align: center;
    margin: auto;
    h5: {
        margin: 0;
        padding: 0;
        background-color: #333;
        color: #f9f9f9;
    }
}

.pdfcontainer {
    display: flex
}

.pdfreader {
    width: 150%;
    height: 600px;
    border: 1px solid #000;
    margin: auto
}

/* Navigation bar
/* For wide screens, on left
/* For narrow screens, on right */
.nav {
    background-color: #333;
    ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
        background-color: #333;
    }
    li {
        float: right;
    }
    a {
        text-decoration: none;
        display: block;
        padding: 8px;
        background-color: #333;
        color: #f9f9f9;
    }

    li a:hover {
        background-color: #999;
    }

    .active {
        background-color: #04AA6D;
    }
}