---
---

@import "{{ site.theme }}";


nav {

    float: left;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    li: {
        display: inline;
    }
    a {
        display: block;
        color: #fff;
        text-align: center;
        text-decoration: none;
        padding: 14px 16px;
    }
    a:hover {
        background-color: #eee
    }
    .active {
        background-color: #4CAF50;
    }
}