---
---

@import "{{ site.theme }}";

header {
    background-color: #333;
    padding: 1em 0;
    text-align: center;
    h1 {
        margin: 0;
        padding: 0;
    }

}

.body {
    font-family: Verdana, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

nav {

    float: left;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    li: {
        display: inline;
    }
    a {
        display: block;
        color: #fff;
        text-align: center;
        text-decoration: none;
        padding: 14px 16px;
    }
    a:hover {
        background-color: #eee
    }
    .active {
        background-color: #4CAF50;
    }
}